.innerCard {
  display: flex;
  flex-direction: column;
  width: 9vw;
  height: 22vh;
  border: 3px solid #2F86A6;
  &__buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    &--btn{
      width: 30px;
      height: 30px;
      border-radius: 15px;
    }
  }
}  

.lower{
  border: red solid 2px;
  background: none;
  color: #EEE;
}
.lower:hover{
  background-color: red;
  cursor: pointer;
}

.higher{
  border: green solid 2px;
  background: none;
  color: #EEE;
}
.higher:hover{
  background-color: green;
  cursor: pointer;
}

@media only screen and (max-width:500px) {
  .innerCard {
    display: flex;
    flex-direction: column;
    width: 45vw;
    height: 30vh;
    &__heading{
      font-size: 25px;
    }
    &__buttons {
      display: flex;
      justify-content: space-around;
      &--btn{
        width: 30px;
        height: 30px;
        border-radius: 15px;
      }
    }
  } 
}